/*
 * 
 * index.css for TexBoard
 * (C) obooklage 2022
 * 
 */

 :root {
  --primary-background-color: rgb(255, 255, 255);
  --editor-background-color: rgb(210, 207, 207);
 }

body {
  background-color: var(--primary-background-color);
  overflow: hidden; /* Hide scrollbars */
  margin:0px;
} 

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}

.cellMathInput {
  background-color: var(--primary-background-color);
	margin:5px;
	left:10px;
	top:10px;
}

input[type="text"], textarea {
  background-color : var(--editor-background-color); 
  width: 99%;
  font-size: 100%;
}

.cellMathOutput {
  border-radius: 5px;
  padding: 10px;
  font-size: 160%; /* Match to OpenBoard default font size */
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.buttons { 
  width: 98%;
  table-layout: fixed;
  border-collapse: collapse;
}

button {
  width: 100%;
  margin: 5px;
}

/* MathJax */
.mjx-chtml{ 
	font-size: 100% !important;
}
