/*
 * 
 * index.css for TexBoard
 * (C) obooklage 2022
 * 
 */

body {
  background-color: #fff;
  overflow: hidden; /* Hide scrollbars */
  margin:0px;
} 

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 10px;
}

.cellMathInput {
  background-color: #fff;
	margin:5px;
	left:10px;
	top:10px;
}

input[type="text"], textarea {
  background-color : #eee; 
  width: 99%;
  font-size: 100%;
}

.cellMathOutput {
  border-radius: 5px;
  padding: 10px;
  font-size: 160%; /* Match to OpenBoard default font size */
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.buttons { 
  width: 98%;
  table-layout: fixed;
  border-collapse: collapse;
}

button {
  width: 100%;
  margin: 5px;
}

/* MathJax */
.mjx-chtml{ 
	font-size: 100% !important;
}
