/*
 * 
 * index.css for TexBoard
 * (C) obooklage 2022
 * 
 */

body {
  background-color: #fff;
  overflow: hidden; /* Hide scrollbars */
  margin:0px;
  font-family: serif, "Times New Roman", Times;
} 

.cellMathOutput {
  border-radius: 5px;
  padding: 10px;
  font-size: 160%; /* Match to OpenBoard default font size */
}

.MathInput {
    background-color: white !important;
    color: black !important;
    font-size: 100%;
}

/* MathJax */
.mjx-chtml{ 
	font-size: 100% !important;
}

/* Jquery */
.ui-popup-container { 
    width: 80%; 
}
