<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" 
		xmlns:ub="http://uniboard.mnemis.com/widgets"
        id="http://obooklage.free.fr/TeX2Board" 
        version="1.0"
	width="640"
	height="260"
	ub:resizable="true"
	ub:transparent="true"
	ub:move="false"
>
		
		<name>TeX2Board</name>
		<author href=""
	            email="">Olivier Booklage</author>
		<description>Écrire des formules scientifiques avec LaTeX (MathJax)</description>
		<preference name="skin"
		            value="uniboard"/>
		<content src="index.html"/> 
</widget>
